.k {
  display: none;
}

.fs-c {
  font-size: 0.7rem;
}

p {
  margin-bottom: 0px;
}

.hover-text {
  position: absolute;
  top: 0;
  font-weight: bold;
  z-index: 3;
}
.x {
  position: relative;
}

.x:hover img {
  transform: scale(1.2);
  /* opacity: 0.7; */
  filter: brightness(80%);
  z-index: 2;
  transition: 0.3s ease, filter 0.3s ease;
}
.g {
  width: 350px;
}
